<% if @errors.present? %>
  <div class="marvel-errors">
    <%= @errors %>
  </div>
<% else %>
  <div class="marvel-comics-list">
    <ul>
      <% @results.each do |comic| %>
      <li>
        <div class="marvel-list-item">
          <div class="marvel-list-item-title">
            <%= comic["title"] %>
          </div>

          <div class="marvel-list-item-image">
            <%= image_tag(cover_thumbnail_helper(comic["thumbnail"]["path"], comic["thumbnail"]["extension"]), width: 225) %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
